<p></p>
<div class="board-container">
  <div>
    <small>Trouve la référence</small>
  </div>

  @if (versle(); as versleValue) {
    <p>
      {{ versleValue.text }}
    </p>
  }

  @if(attempts(); as attemptsValue){
  <div class="selection-container">
    @for (lines of board(); let i = $index; track i) {
    <div class="selection-items">
      <div
        *ngrxLet="lines[0] as bookIndex"
        [ngClass]="attemptsValue[i] ? attemptsValue[i][0] : null"
        (click)="currentRow() === i ? openAuthorDialog() : null"
        class="item author-item"
      >
        @if (bookIndex !== null) {
        <div>{{ bookIndex | book }}</div>
        } @else{
        <div>Choisir un livre</div>
        }
      </div>

      <div
        *ngrxLet="lines[1] as chap1"
        [ngClass]="attemptsValue[i] ? attemptsValue[i][1] : null"
        class="item chapter-item-1"
      >
        @if (chap1 !== null) {
        <div>{{ chap1 }}</div>
        }@else {
        <ng-container *ngTemplateOutlet="noValue"></ng-container>
        }
      </div>

      <div
        *ngrxLet="lines[2] as chap2"
        [ngClass]="attemptsValue[i] ? attemptsValue[i][2] : null"
        class="item chapter-item-2"
      >
        @if (chap2 !== null) {
        <div>{{ chap2 }}</div>
        }@else {
        <ng-container *ngTemplateOutlet="noValue"></ng-container>
        }
      </div>
      <div class="separator">:</div>

      <div
        *ngrxLet="lines[3] as verse1"
        [ngClass]="attemptsValue[i] ? attemptsValue[i][3] : null"
        class="item verse-item-1"
      >
        @if (verse1 !== null) {
        <div>{{ verse1 }}</div>
        }@else {
        <ng-container *ngTemplateOutlet="noValue"></ng-container>
        }
      </div>

      <div
        *ngrxLet="lines[4] as verse2"
        [ngClass]="attemptsValue[i] ? attemptsValue[i][4] : null"
        class="item verse-item-2"
      >
        @if (verse2 !== null) {
        <div>{{ verse2 }}</div>
        }@else {
        <ng-container *ngTemplateOutlet="noValue"></ng-container>
        }
      </div>
    </div>
    }
  </div>
  }

  <div class="keybord-container">
    <div class="line line-1">
      <div class="key" (click)="enterLetter('0')">0</div>
      <div class="key" (click)="enterLetter('1')">1</div>
      <div class="key" (click)="enterLetter('2')">2</div>
      <div class="key" (click)="enterLetter('3')">3</div>
      <div class="key" (click)="enterLetter('4')">4</div>
      <div class="key" (click)="enterLetter('5')">5</div>
    </div>
    <div class="line line-2">
      <div class="key" (click)="enterLetter('5')">5</div>
      <div class="key" (click)="enterLetter('6')">6</div>
      <div class="key" (click)="enterLetter('7')">7</div>
      <div class="key" (click)="enterLetter('8')">8</div>
      <div class="key" (click)="enterLetter('9')">9</div>
      <div class="key" (click)="enterLetter('9')">9</div>
    </div>
  </div>
</div>

<ng-template #noValue>
  <div style="visibility: hidden">0</div>
</ng-template>
