<div class="end-container">
  <p>La rérence était</p>

  @if(versle(); as versleValue){
  <h3 class="ref-value">
    {{ versleValue.book | book }} {{ versleValue.chapter }} :
    {{ versleValue.verse }}
  </h3>
  } 
  
  @if(url(); as urlValue){
  <div class="link-container">
    <div class="url-btn">
      <a [href]="urlValue" target="_blank">Lire le passage</a>
    </div>
  </div>
  }

  <div class="date-container">
    <p class="remaining"><b> Prochain mot dans:</b></p>
    <p class="remaining">{{ countdown() }}</p>
  </div>
</div>
