<div class="end-container">
  <p>La rérence était</p>

  <h3 class="ref-value" *ngIf="versle() as versleValue">
    {{ versleValue.book | book }} {{ versleValue.chapter }} :
    {{ versleValue.verse }}
  </h3>

  <div class="link-container" *ngIf="url() as urlValue">
    <div class="url-btn">
      <a [href]="urlValue" target="_blank">Lire le passage</a>
    </div>
  </div>

  <div class="date-container">
    <p class="remaining"><b> Prochain mot dans:</b></p>
    <p class="remaining">{{ countdown() }}</p>
  </div>
</div>
